$body-bg: #f2f6f8 !default;

$body-color: #66728a !default;

$header-height: 83px;

$sidebar-bg: #fff;

$sidebar-width: 340px;

$navbar-link-color: #7e899f;

$navbar-link-active-color: #272f3b;

$table-border-top-color: #e8ecf0;
